{% extends "blogs/base.html " %}

{% block content %}
<div class="pic">
    <h1>欢迎来到Kyle's 个人网站~</h1>
    <h2>你可以在这里了解到我的一些个人信息！</h2>
    <h2>也欢迎留言给我提出一些建议！</h2>
    <h2 id = "demo"></h2>
</div>

<div class="row">
    <div class="column side">
      <h2>个人基本信息</h2>
      <p>姓名：杨思恒</p>
      <p>专业：计算机科学与技术</p>
      <p>出生日期：1999-09-12</p>
      <p>学号：18090033026</p>
      <p>QQ：1063062149</p>
      <p>邮箱：1063062149@qq.com</p>
    </div>
    
    <div class="column middle">
      <h2>自我介绍</h2>
      <p>欢迎来到Kyle的个人网站！！！</p>
      <p>大家好！我的名字是杨思恒，现就读于山东省青岛市崂山区沙河子街道的中国海洋大学信息科学与工程学院的计算机科学与技术专业的大三学生！</p>
      <p>处女座20岁，家乡是福建省泉州市鲤城区。</p>
      <p>最爱摸鱼！</p>
      <h2>兴趣爱好</h2>
      <p>动画、游戏、睡觉</p>
      <p>最喜欢的游戏是弹丸论破系列</p>
      <p>最喜欢的动画作品是银之匙、钢之炼金术师</p>
      <h2>教育经历</h2>
      <p>2006年 至 2012年 福建省泉州市通政中心小学毕业</p>
      <p>2012年 至 2015年 福建省泉州第六中学初中部毕业</p>
      <p>2015年 至 2018年 福建省泉州第一中学高中部毕业</p>
      <p>2018年 至 今 中国海洋大学信息科学与工程学院计算机科学与技术专业在读</p>
    </div>
    
</div>
{% endblock content %}