{% extends "blogs/base.html" %}\


{% block content %}

<div class="login">
    <h1>欢迎登录</h1>
    {% if form.errors %}
    <p>Your username and password didn't match.Please try again.</p>
    {% endif %}

    <form method='post' action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p}}
    <button name="sumbit" class="button" style="vertical-align:middle"><span>登录</span></button>
    <input type="hidden" name="next" value="{% url 'blogs:index' %}" />
    <button type="button" class="button" style="vertical-align:middle" onclick="goBack()"><span>返回</span></button>
    </form>
</div>


{% endblock content %}